<h1>Stupid coach</h1>
<div class="container">
  <h2>Here is your answer!</h2>
  <h2>Question: <%= @question %></h2>
  <p>Answer: <%= @answer %></p>
</div>

<button id="back_button"><%= link_to "Back to questions", ask_path %>
</button>
