/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file
 * and they'll appear at the bottom of the compiled file so the styles add here
 * take precedence over styles defined in any other CSS/SCSS files in this directory.
 * Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F7DB7E;
}

#ask_button {
  background-color: #4CAF50;
  border-radius: 50px 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
#back_button {
  background-color: #E12020;
  border-radius: 20px 50px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
